div.content{
	animation: 1s ease-in-out 0s 1 slideUp;
	margin: auto;
	padding: 5px 10px;
	width: 90vw;
	background-color: white;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}
div.content *{
	animation: 1s ease-out 0.05s 1 slideUp;
}
